[Unit]
Description=KOI API Service
After=network.target neo4j.service
Requires=neo4j.service

[Service]
WorkingDirectory=/home/dev/koi-api
ExecStart=/home/dev/koi-api/venv/bin/uvicorn koi.server:app --host 127.0.0.1 --port 8000
User=dev
Restart=always

[Install]
WantedBy=multi-user.target